### Eksempel 1: Strenge sat sammen med `+`

In [ ]:
a = 'Hej'
b = 'Verden'
print(a + ' ' + b)

Output: `Hej Verden`

### Eksempel 2: Strenge sat sammen med `,` (flere parametre i print)

In [ ]:
a = 'Hej'
b = 'Verden'
print(a, b)

Output: `Hej Verden`

### Eksempel 3: Strenge sat sammen med f-strings

In [ ]:
name = 'Anna'
age = 25
print(f'Mit navn er {name} og jeg er {age} år.')

Output: `Mit navn er Anna og jeg er 25 år.`

### Eksempel 4: Strenge og tal kombineret med `int()`

In [ ]:
x = '5'
y = 3
print('Summen er', int(x) + y)

Output: `Summen er 8`

### Eksempel 5: Eksempler med `end` og `sep`

In [ ]:
print('A', 'B', 'C', sep='-')
print('Linje 1', end=' ')
print('fortsætter på samme linje')

Output:
```
A-B-C
Linje 1 fortsætter på samme linje
```