# Lister i Python

Her følger en række eksempler på hvordan man kan arbejde med lister.

Fremgangsmåde: 
Læs forklaringen, og afprøv derefter eksemplet.

### Dupletter
Lister tillader dupletter.

Vi kan have samme værdi flere gange i en liste.

In [ ]:
cities = ["Aarhus", "Odense", "Aarhus", "Aalborg"]  # duplicates allowed
print(cities)
# Count how many times "Aarhus" appears
print(cities.count("Aarhus"))

### Listeværdier kan opdateres
Elementernes værdi kan ændres (de er _mutable_)

Vi kan tilgå et element via dets indeks og ændre værdien direkte.

In [ ]:
groceries = ["rugbrød", "smør", "ost"]
groceries[1] = "økologisk smør"  # mutate element
print(groceries)

### Alle datatyper
Elementer kan være af alle datatyper.

Listen kan indeholde tal, tekst, bools og endda et dictionary med danske nøgler.

In [ ]:
mixed = [42, "kanelgifler", True, {"navn": "Freja", "alder": 14}]
for item in mixed:
    print(type(item), item)  # show Python types

### Den tomme liste

En tom liste repræsenterer 0 elementer og kan udfyldes senere.

In [ ]:
empty_list = []
print(len(empty_list))  # length is 0
empty_list.append("cykel")
print(empty_list)

### Iteration
Lister er iterable i for-loop.

Vi kan gennemløbe en liste og udskrive dem én for én.

In [ ]:
municipalities = ["København", "Frederiksberg", "Aarhus", "Odense"]
for m in municipalities:  # iterable
    print(f"Kommunen: {m}")

### Test for element i liste
Vi kan teste for eksistensen af et element i en liste med 'in'

In [ ]:
stations = ["Nørreport", "Østerport", "Høje Taastrup"]
print("Nørreport" in stations)   # True
print("Farum" in stations)       # False

### Enkelt-elementer med indeksering
Vi kan læse og skrive enkeltvis enkeltvis med indeksering - [indeks].
Første element har indeks 0.

In [ ]:
teams = ["Brøndby", "FC København", "AGF", "AaB"]
first_team = teams[0]  # read
teams[2] = "Randers"   # write
print(first_team, teams)

### Delmængder af liste med [:]

Vi kan tage delmængder af en liste med splice-operatoren `[ : ]`.

Den har syntaksen [start : end : step]. Bemærk at man også kan begynde i den anden ende med - (minus)

In [ ]:
months = ["jan","feb","mar","apr","maj","jun","jul","aug","sep","okt","nov","dec"]
print(months[:3])    # first three
print(months[3:6])   # spring to early summer
print(months[-2:])   # last two

### Opret en liste med list()

EN liste kan bygges med typekonstruktøren `list()` fra en _iterable_, fx en streng.

In [ ]:
word = "Smørrebrød"
letters = list(word)  # constructor from iterable
print(letters[:5])

### Opret en liste med range()

Vi kan skabe en liste af heltal.

In [ ]:
house_numbers = list(range(1, 11))  # 1..10
print(house_numbers)

### Opret en liste med list comprehension

List comprehension er en komprimeret måde at bygge lister på i en linje.
Bemærk at udtrykket er omgivet af `[]`.

På den måde kan vi oprette en liste med beregnede værdier i en linje.

In [ ]:
grades = list(range(0, 10))
squares = [n*n for n in grades]  # list comprehension
print(squares)

### List comprehension med betingelse

List comprehension kan også indeholde betingelser.

Filtrér data. Kun lige husnumre fra 1..20.

In [ ]:
evens = [n for n in range(1, 21) if n % 2 == 0]
print(evens)

### Tilføj et element med append()

Vi kan tilføeje et element til en liste med metoden `append(item)`.

Bemærk _dot-notationen_ `list.append()`.

In [ ]:
dishes = ["frikadeller", "flæskesteg"]
dishes.append("stegt flæsk")  # add at end
print(dishes)

### Saml to lister med extend() 

Vi udvider listen med flere elementer ad gangen.

In [ ]:
north_jutland = ["Skagen", "Hirtshals"]
more = ["Frederikshavn", "Aalborg"]
north_jutland.extend(more)  # add many
print(north_jutland)

### Indsætter et element via indeks med insert()

Vi kan indsætte et element på en bestemt position.

In [ ]:
s_train = ["Klampenborg", "Hellerup", "Nørreport"]
s_train.insert(2, "Østerport")  # insert at index 2
print(s_train)

### Fjern første forekomst med remove()

Vi fjerner en by fra listen, hvis den findes.

In [ ]:
towns = ["Vejle", "Horsens", "Kolding", "Vejle"]
towns.remove("Vejle")  # removes first occurrence
print(towns)

### Fjern og returner element med pop()

Vi kan poppe sidste eller et bestemt element og få det tilbage.
Bemærk at vi gemmer returværdien i en variabel.

In [ ]:
queue = ["kunde1", "kunde2", "kunde3"]
last = queue.pop()          # removes last
first = queue.pop(0)        # removes index 0
print(last, first, queue)

### Sortering af lister med sort() og sorted()

Der findes to metoder som fungerer forskelligt. 

sort() ændrer listen in-place. 

sorted() laver en ny sorteret liste. VI gemmer returværdien i en variabel.

In [ ]:
clubs = ["Silkeborg", "Lyngby", "Midtjylland", "OB"]
sorted_clubs = sorted(clubs)    # new list
clubs.sort()                    # mutate original
print(sorted_clubs)
print(clubs)

### Vend listen om med reverse()

Vi vend en liste med metoden _reverse()_.

In [ ]:
islands = ["Bornholm", "Fyn", "Langeland", "Als"]
islands.reverse()  # in-place reverse
print(islands)

### Lav en kopi med copy()
Når vi bruger `copy()`, laver vi en _shallow copy_.

In [ ]:
fruits = ["æble", "pære", "blomme"]
clone = fruits.copy()   # shallow copy
fruits.append("banan")

print("original:", fruits)
print("copy    :", clone)

Hvis original og kopi "peger på" de samme objekter, vil ændringer det ene sted slå igennem begge steder. 

Ændringer i det yderste lag påvirker altså kke kopien, men ændringer i indre lister (nested) gør.

In [ ]:
original = [["rye bread"], ["butter"]]  # nested list to illustrate shallow copy
clone = original.copy()        # shallow copy
original[0].append("seeds")    # mutate inner list affects both
print("original:", original)
print("clone   :", clone)
original.clear()               # empty original list object
print("after clear, original:", original)

### Lister i lister (matrix)
En matrix kan repræsenteres som en liste i liste. Vi kan tilgå rækker og elementer via dobbelte indeks.

In [ ]:
matrix = [
    [1, 2, 3],      # row 0
    [4, 5, 6],      # row 1
    [7, 8, 9]       # row 2
]

print(matrix[0])      # entire row 0
print(matrix[1][2])   # element from row 1, column 2 (the number 6)

# Iterate matrix
for row in matrix:
    print(row)

### Iteration af liste med enumerate()
Vi kan hente og udskrive indeks på en liste med `enumerate()`.

In [ ]:
navne = ["Ida","Jon","Kai"]
for i, navn in enumerate(navne, start=1):
    print(i, navn)

### Kombination af to lister med zip()

Vi kan kombinere to lister med metoden `zip()`.

In [ ]:
navne = ["Ida","Jon","Kai"]
point = [12,10,15]
for n, p in zip(navne, point):
    print(f"{n}: {p}")